body {
    background-image: url('images/background.jpg'); /* Norāda fona attēlu */
    background-size: cover;
    background-position: center;
    color: #c4f4f7; /* Teksta krāsa */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.7); /* Puscaurspīdīgs fons labākai salasāmībai */
    padding: 20px;
}

h1, h2 {
    color: #dbc4f7; /* Izceļ virsrakstus */
}

main {
    padding: 20px;
}

section {
    background-color: rgba(0, 0, 0, 0.5); /* Caurspīdīgs fons saturam */
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

a {
    color: #ff7cce;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
