body {
    background-size: cover;
    background-position: center;
    color: black; /* Teksta krāsa */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d7fffe; 
    border: #b9f4fe;
    margin:20px;
    padding: 20px;
}
.container {
  display: inline-block;
  cursor: pointer;
  align: left;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

h1, h2 {
    color: black; /* Izceļ virsrakstus */
}

main {
    padding: 20px;
}

section {
    background-color: #d7fffe;
    border: #b9f4fe;
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

a {
    color: #ff7cce;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
                max-width: 100%;
                width: auto;
                height: auto;
                margin: 20px 0;
            }
