body {
    background-size: cover;
    background-position: center;
    color: black; /* Teksta krāsa */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d7fffe; 
    border: #b9f4fe;
    margin:20px;
    padding: 20px;
}


h1, h2 {
    color: black; /* Izceļ virsrakstus */
}

main {
    padding: 20px;
}

section {
    background-color: #d7fffe;
    border: #b9f4fe;
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

a {
    color: #ff7cce;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
